  <div class="row ">
    <div class="col-md custom_wrapper"> 
        <div class="row">
          <div class="col-md-3 ">
            <div id="user_avatar2">
              <% if current_user.image.blank? %>
                <span ><img src="<%= asset_path( 'default_user.png' ) %>" /></span>
              <% else  %>
                <%= image_tag current_user.image %>
              <% end  %>
            </div> 
            <p style="color:blue; text-align: center; margin-top: 20px;"> 
              <span style="font-size: 16px;"><%=  current_user.firstname %></span>
              <span style="font-size: 16px;"><%=  current_user.middlename %></span>
              <span style="font-size: 16px;"><%=  current_user.surname %></span>
            </p> 
          </div>               
          <div class="col-md-9 my_application">
            <p style="text-align: center;">
              <span style="font-size: 20px; color:  #6495ED; ">
                My Application
              </span>
            </p>    
            <div class="row"> 
              <div class="col-md-8"></div>     
                <div class="col-md-4">    
                  <p style="border: 4px dotted #6495ED; text-align: center;">
                    <span style="font-size: 18px; color:  blue; ">
                      Submitted Document
                    </span>
                    <span id="note3">
                      <% if @application.document_content_type == "application/pdf" %>
                        <%= link_to image_tag("/assets/doc3.jpg", alt: "pdf"), @application.document.url, target: "_blank" %>
                      <% else %>
                        <%= link_to image_tag("/assets/note3.png", alt: "doc"), @application.document.url, target: "_blank" %>
                      <% end %>
                    </span>
                  </p>
                </div> 
            </div>
              <p class="thank_you">
                Your Application was received with thank!
              </P>
            <p style="margin-top: 30px;" >
            <span class="app_lebel">Status: </span>
            
            
            <% if @application.status == "Pending" %>
              <span class="app_item"><%= @application.status %></span>           
              <span class="app_item"> PRO-<%= @application.id %>/20</span>
              <span style="color: grey; font-style: italic;">Your application is currently under review.</span>

            <% elsif @application.status == "Accepted" %>
              <span class="app_item_success"><%= @application.status %></span>
              <span class="app_item_success"> PRO-<%= @application.id %>/20</span>
              <span style="color: #32CD32; font-style: italic;">Congratulations! Your application was Successiful!</span>

            <% elsif @application.status == "Rejected" %>
              <span class="app_item"><%= @application.status %></span>
              <span class="app_item"> PRO-<%= @application.id %>/20</span>
              <span style="color: red; font-style: italic;"> Sory! Your application has been rejected.</span>
            <% end %>
            </p>
            <p style="margin-top: 30px;">
              <span class="app_lebel">Date Submitted: </span>
               <span class="app_item_date"><%=(@application.created_at + 1.year).strftime("%b %d, %Y") %></span>
            </p>
            <p style="margin-top: 30px; font-size: 16px; text-align: justify;">
              <span style="font-weight: bold;">Note:</span> Once submitted , an application is reviewd by the ASPAP admission team. If the application meets the requirements as outlined, it's status is updated to "Accepted" and you will then be contacted by the ASPAP admission teams with the details on how to pay the membership fee. Thank you for your interest in the community of physicists. 
            </p>
          </div>
        </div> 
    </div>
  </div> 


