
<div class="main-content">
  <div class="journal-header">
    <p>My Posts</p>
  </div>
  <% if @posts.blank? %>
    <h4 style="margin-top: 30px;">You have not posted anything yet.</h4>
  <% else %>
    <% @posts.each do |post| %>
      <div class="panel">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-3 ">
              <% if post.user.image.blank? %>
                <img src="<%= asset_path( 'default_user.png' ) %>" />
              <% else %>
                <p id="user_avatar2"><%= image_tag post.user.image %></p>
              <% end %>
            </div>       
            <div class="col-sm-9 ">
              <div class="discuss">
                <p ><strong style="font-family: initial;"><%= link_to post.title ,post %> </strong></p>
                <div class="fadded">
                  <span><%= post.body %> </span>
                </div>
              </div>
              <span style="font-size: large;"> <%= link_to "Read More", post %></span>

              <span style="font-size: large; float: right; color: grey;">
                <span><%= link_to 'Edit Post', edit_post_path(post), class: "btn btn-default" %></span>
                <span style="margin-left: 10px; ">
                  <%= link_to post, method: :delete, data: { confirm: 'Are you sure you want to delete this Post?' }, class: "btn btn-default" do %>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  <% end %>
                </span> 
              </span>

            </div>  
            
          </div>
        </div>
      </div>        
    <% end %>
  <% end %>
  <p> <%= will_paginate @posts %> </p>
</div>
