<div class="main-content">
  <div class="journal-header">
    <p>ASPAP Members</p>
  </div>
  
  <% @memberships.order("created_at DESC").each do |membership| %>
    <div class="panel">
      <%= link_to membership do  %>
      <div class="row membership_link">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-3 ">
              <div id="user_avatar2">
                <div style="position: relative; left: 0; top: 0; text-align: center;">
                  <div id="paged_pic">
                    <% if membership.user.image.blank? %>
                      <span ><img src="<%= asset_path( 'default_user.png' ) %>" /></span>
                    <% else  %>
                      <%= image_tag membership.user.image %>
                    <% end  %>
                  </div>
                  <div id="certificate_member_index">
                      <span style="color: orange; font-size: 30px;">
                        <i class="fa fa-certificate" aria-hidden="true"></i>
                      </span>
                  </div>
                </div>
              </div> 
              <p style="color:blue; text-align: center; margin-top: 20px;"> 
                <span style="font-size: 16px;"><%=  membership.user.firstname %></span>
                <span style="font-size: 16px;"><%=  membership.user.middlename %></span>
                <span style="font-size: 16px;"><%=  membership.user.surname %></span>
              </p> 
            </div>               
            <div class="col-sm-3 ">
              <p style="color:#337ab7;"> 
                <span style="color: #337ab7; font-size: 14px;"><%=  membership.kind %></span>
                <span style="color: #337ab7; font-size: 14px;">Member</span>
              </p>   
            </div>            
            
            <div class="col-sm-3 ">
              <p style="color:#337ab7;"> 
                <span style="color: #337ab7; font-size: 14px;">Status </span>
                <% if  membership.active %>
                  <span style="color: #32CD32; font-size: 14px;"><strong>Active</strong></span>
                <% else %>
                  <span style="color: red; font-size: 14px;"><strong>Expired</strong></span>
                <% end %>
              </p>
            </div>           
             <div class="col-sm-3 ">
              <p> 
                <span style="font-size: 14px;">Due Date:</span>
                <span style="color: #337ab7; font-size: 14px;">
                  <%=(membership.created_at + 1.year).strftime("%A, %b %d, %Y") %>
                </span>
              </p>
            </div> 
          </div>
        </div>
      </div>
      <% end %>
    </div>        
  <% end %>
</div>

