<h3 id="form-header">Edit Your Account</h3>
<div class="my-form">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="row education_info">
      <h3>Personal Info</h3> 
      <div class="form-group">
        <p id="form-lebel"><span><%= f.label :email %></span><span style="color: red;">*</span><p/>
        <span><%= f.email_field :email, placeholder: "email", class: "form-control", :required => true %></span>
        
      </div>
      <div class="form-group">
        <p id="form-lebel"><span><%= f.label :username %></span><span style="color: red;">*</span><p/>
        <span><%= f.text_field :username, placeholder: "username", class: "form-control", :required => true %></span>
      </div>  
      <div class="form-group">
        <p id="form-lebel"><%= f.label :title %><p/>
        <%=  f.collection_select :title, User.titles.map{ |a| [a.first,a.first] },  :first, :second %>
      </div>
      <div class="form-group">
        <p id="form-lebel"><span><%= f.label :first_Name %></span><span style="color: red;">*</span><p/>
        <span><%= f.text_field :firstname, placeholder: "firstname", class: "form-control", :required => true %></span>
      </div>  
      <div class="form-group">
        <p id="form-lebel"><%= f.label :middle_Name %><p/>
        <%= f.text_field :middlename, placeholder: "optional", class: "form-control" %>
      </div>  
      <div class="form-group">
        <p id="form-lebel"><span><%= f.label :surname %></span><span style="color: red;">*</span><p/>
        <span><%= f.text_field :surname, placeholder: "surname", class: "form-control", :required => true %></span>
      </div>  
      <div class="form-group">
        <p id="form-lebel">
          <span><%= f.label :Work_Place %></span>
        <p/>
        <%= f.text_field :placeOfWork, placeholder: "organization, affiliate, institution etc", class: "form-control" %>
      </div>
      <div class="form-group">
          <p id="form-lebel"><%= f.label :Profile_Picture %><p/>
          <%=  f.file_field :image %>
      </div>      
      <div class="form-group">
        <p id="form-lebel"><%= f.label :phone_Number %><p/>
        <%=  f.text_field :phone, placeholder: "your contact number", class: "form-control"%>
      </div>

    </div>
    <div class="row education_info">
      <h3>Education</h3> 
      <div class="form-group">
        <p id="form-lebel"><%= f.label :institution %><p/>
        <%= f.text_field :institution, placeholder: "name of university,college etc", class: "form-control" %>
      </div>  
      <div class="form-group">
        <p id="form-lebel"><%= f.label :qualification %><p/>
         <span><%=  f.collection_select :qualification, User.qualifications.map{ |a| [a.first,a.first] },  :first, :second %></span>
         
      </div>
      <div class="form-group">
        <p id="form-lebel"><%= f.label :field %><p/>
        <%= f.text_field :field, placeholder: "speciality", class: "form-control" %>
      </div>  
      <div class="form-group">
          <p id="form-lebel"><%= f.label :year_completed %><p/>
          <%= f.date_select :year_completed %> 
      </div>
    </div>
    <div class="form-group">
        <p id="form-lebel"><span><%= f.label :Academic_document %><span><span style="color: grey; margin-left: 10px; font-style: italic;">Required if you intend to join the editorial team!</span><p/>
        <%= f.file_field :document %>
    </div>


    <div class="form-group">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "off" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="form-group">
      <p id="form-lebel"><%= f.label :password_confirmation %><p/>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="form-group">
      <span><%= f.label :current_password %> </span><span style="color: red;">*</span><i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>




  <button type="button" id="formButton">Delete Your AccountHere!</button>

  <div id="delete_acc">
    <p style="margin-top: 50px;">
      <p>Unhappy? <%= button_to "Delete My Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
    </p>
  </div>



</div>



