<h3 id="form-header">Sign Up</h3>
<div class="my-form">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="row education_info">
      <h3>Personal Info</h3> 
      <div class="form-group">
        <p id="form-lebel"><%= f.label :email %><p/>
        <%= f.email_field :email, placeholder: "email", class: "form-control", :required => true %>
      </div>
      <div class="form-group">
        <p id="form-lebel"><%= f.label :username %><p/>
        <%= f.text_field :username, placeholder: "username", class: "form-control", :required => true %>
      </div>  
      <div class="form-group">
        <p id="form-lebel"><%= f.label :title %><p/>
        <%=  f.collection_select :title, User.titles.map{ |a| [a.first,a.first] },  :first, :second %>
      </div>
      <div class="form-group">
        <p id="form-lebel"><%= f.label :first_Name %><p/>
        <%= f.text_field :firstname, placeholder: "firstname", class: "form-control", :required => true %>
      </div>  
      <div class="form-group">
        <p id="form-lebel"><%= f.label :middle_Name %><p/>
        <%= f.text_field :middlename, placeholder: "optional", class: "form-control" %>
      </div>  
      <div class="form-group">
        <p id="form-lebel"><%= f.label :surname %><p/>
        <%= f.text_field :surname, placeholder: "surname", class: "form-control", :required => true %>
      </div>  
      <div class="form-group">
        <p id="form-lebel">
          <span><%= f.label :Work_Place %></span>
        <p/>
        <%= f.text_field :placeOfWork, placeholder: "organization, affiliate, institution etc", class: "form-control" %>
      </div>
      <div class="form-group">
        <p id="form-lebel"><%= f.label :phone_Number %><p/>
        <%=  f.text_field :phone, placeholder: "your contact number", class: "form-control"%>
      </div>
      <div class="form-group">
           <p id="form-lebel"><%= f.label :profile_picture %><p/>
          <%= f.file_field :image %> 
      </div>
    </div>
    <div class="row education_info">
      <h3>Education</h3> 
      <div class="form-group">
        <p id="form-lebel"><%= f.label :institution %><p/>
        <%= f.text_field :institution, placeholder: "name of university,college etc", class: "form-control" %>
      </div>  
      <div class="form-group">
        <p id="form-lebel"><%= f.label :qualification %><p/>
         <%=  f.collection_select :qualification, User.qualifications.map{ |a| [a.first,a.first] },  :first, :second %>
      </div>
      <div class="form-group">
        <p id="form-lebel"><%= f.label :field %><p/>
        <%= f.text_field :field, placeholder: "speciality", class: "form-control" %>
      </div>  
      <div class="form-group">
          <p id="form-lebel"><%= f.label :year_completed %><p/>
          <%= f.date_select :year_completed %> 
      </div>
      <div class="form-group">
        <p id="form-lebel">
          <span><%= f.label :Document_of_qualification %> </span>
          <span style="color: grey; font-style: italic; margin-left: 20px;"> pdf, word doc  </span>
        <p>
        <%= f.file_field :document %>
      </div>
    </div>

    <div class="form-group">
      <p id="form-lebel"><%= f.label :password %><p/>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="form-group">
      <p id="form-lebel"><%= f.label :password_confirmation %><p/>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
