<%= form_with(model: artireply, local: true) do |form| %>
  <% if artireply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(artireply.errors.count, "error") %> prohibited this artireply from being saved:</h2>

      <ul>
      <% artireply.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :artireply_body %>
  </div>

  <div class="field">
    <%= form.label :articomment_id %>
    <%= form.text_field :articomment_id, id: :artireply_articomment_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
