<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @artireply.body %>
</p>

<p>
  <strong>Articomment:</strong>
  <%= @artireply.articomment %>
</p>

<%= link_to 'Edit', edit_artireply_path(@artireply) %> |
<%= link_to 'Back', artireplies_path %>
