    
<div class="row">
  <div class="col-md article">
    <div class="my-form">
      <%= form_with(model: @download, local: true) do |form| %>
        <% if @download.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@download.errors.count, "error") %> prohibited this application from being saved:</h2>

            <ul>
            <% @download.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <p style="font-size: 16px; color: blue">
            <span><%=  @download.user.firstname %></span>
            <span><%=  @download.user.surname %></span>
          <p>
        </div> 

        <div class="form-group">
          <%=  form.collection_select :status, Download.statuses.map{ |a| [a.first,a.first] },  :first, :second %>
        </div>    

        <div class="actions">
          <%= form.submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>
     