<div class="row article">
	<div>
		<div style="margin-bottom: 20px;"><%= image_tag @article.image %></div>
    <div class="row">
      <% if @article.user.image.blank? %>
          <span style="color: grey; color: #337ab7; font-style: italic;"> -Author </span>
          <span id="user_avatar"><%= @article.user.username %> </span>
          <span id="user_avatar"><%= link_to(image_tag("/assets/user.png", alt: "user_avatar") ) %> </span>
          <% unless @article.directorate.blank? %>
           <p style="color: grey; margin-top: 20px; font-style: italic;"><%= link_to @article.directorate.name, @article.directorate %></p>
          <% end %>
      <% else %>
        <span style="color: grey; color: #337ab7; font-style: italic;"> -Author </span>
          <%= link_to @article.user do %>
            <span id="user_avatar"><%= @article.user.username %> </span>
            <span id="user_avatar"><%= image_tag @article.user.image %> </span>
          <% end %>
          <% unless @article.directorate.blank? %>
            <p style="color: grey; margin-top: 20px; font-style: italic;"><%= link_to @article.directorate.name, @article.directorate %></p>
          <% end %>
      <% end %>
    </div>

  </div>
	<div id="article-title">
		<%=  @article.title %>
	</div>
	<div id="article-body">
		<%= simple_format(@article.body) %>
	</div>
  <div class="row row-article-footer">
    <hr>
    <div class="col-md-6 recommendations">
      <div class="row">
        <div class="col-md-7">
          <strong>
            <span>Recommendations</span>
            <span style="color: blue;">(<%= @reactions.count %>)</span>
          </strong>
        </div>
        <div class="col-md-5">
          <% if @already_rcommended %>
            <span style="margin: 20px;"> <%= link_to 'Unrecommend',unrecommend_article_path(@article), method: :patch, class: "btn btn-default btn-unrecommend" %>
            </span> 
          <% else %>
            <span "><%= render 'layouts/react' %></span>
          <% end %>
        </div>
      </div>
      <% if @already_rcommended %>
        <p style="margin-top: 20px; margin-left: 15px; color: grey;">You Recommended This Article</p>        
      <% end %>
    </div>
    <div class="col-md-6">
      <span style="float: right;"><%= social_share_button_tag(@article.title) %></span>
      <span style="color: grey;float: right; margin-right: 10px; ">Share On</span>
    </div>
  </div>
  <hr>
  <div class="comments">
  	<% if @articomments.blank? %>
      <p style="font-style: italic;">No comments on this post yet, be the first to comment!</p>
    <% else %>
  		<% @articomments.each do |comment| %>
  			<div class="comment">
          <div class="row">
            <div class="col-md-2 comment-owner"> 
              <% if comment.user.image.blank? %>
                <span id="user_avatar"><img src="<%= asset_path( 'default_user.png' ) %>" /></span>
              <% else %>
                <span id="user_avatar"><%= link_to (image_tag comment.user.image),comment.user  %> </span>
              <% end %>
            </div>
    				<div class="col-md-10 comment-body">
              <p class="media-heading">
                <span style="color: #6495EA; font-size: small"><%= link_to comment.user.username ,comment.user %> </span> 
              </p>
              <p style="font-size: large; font-family: initial; "><%= simple_format(comment.body) %> </p>
              <h5 class="media-heading">
                <small><%= comment.created_at.strftime("%A, %b %d, %Y at %I:%M%p") %></small>
              </h5>
            </div>
          </div>
        </div>
  		<% end %>
  	<% end %>
  	<h4> Comment</h4>
  	<%= render "articomments/form" %>
  </div>	
</div>


