<div class="row article">
	<div>
		<div style="margin-bottom: 20px;"><%= image_tag @article.image %></div>
		<% if @article.user.image.blank? %>
			 <span style="color: grey; color: #337ab7; font-style: italic;"> -Author </span>
			 <span id="user_avatar"><%= @article.user.username %> </span>
	     <span id="user_avatar"><%= link_to(image_tag("/assets/user.png", alt: "user_avatar") ) %> </span>
	    
	  <% else %>
	  	<span style="color: grey; color: #337ab7; font-style: italic;"> -Author </span>
	  	<span id="user_avatar"><%= @article.user.username %> </span>
	    <span id="user_avatar"><%= image_tag @article.user.image %> </span>

	  <% end %>
  </div>
	<div id="article-title">
		<%=  @article.title %>
	</div>
	<div id="article-body">
		<%= simple_format(@article.body) %>
	</div>
</div>


