<p id="notice"><%= notice %></p>

<h1>Articomments</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th>Article</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articomments.each do |articomment| %>
      <tr>
        <td><%= articomment.body %></td>
        <td><%= articomment.article %></td>
        <td><%= link_to 'Show', articomment %></td>
        <td><%= link_to 'Edit', edit_articomment_path(articomment) %></td>
        <td><%= link_to 'Destroy', articomment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Articomment', new_articomment_path %>
