<% unless conversation.blank? %>
  <%= link_to conversation_path(conversation) do %>

    <% if conversation.receipts_for(current_user).last.is_unread? %>
      <div class="my-messages unread">
        <div class="media-left">
          <% if current_user == conversation.originator %>
            <% conversation.recipients.each do |recipient| %>
              <% if recipient != current_user %>
                <% @recipient = recipient %>
              <% end %>
            <% end %>
            <% if @recipient.image.blank? %>
              <img src="<%= asset_path( 'user.png' ) %>" />
            <% else %>
              <span id="user_avatar"><%= image_tag @recipient.image  %> </span><br>
            <% end %>
          <% else %>
            <% unless conversation.originator.blank? %>
              <% if conversation.originator.image.blank? %>
                <%= image_tag("/assets/user.png", alt: "user_avatar") %> 
              <% else %>
                <span id="user_avatar"><%= image_tag conversation.originator.image  %> </span><br>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="media-body">
          <% unless conversation.originator.blank? %>
            <% if current_user == conversation.originator %>
              <% conversation.recipients.each do |recipient| %>
                <% if recipient != current_user %>
                  <% @recipient = recipient %>
                <% end %>
              <% end %>
              <span><%= @recipient.username %><br></span>
            <% else %>
              <span><%= conversation.originator.username %> </span><br>
            <% end %>      
          <% end %>


            <% if conversation.messages.last.sender.image.blank? %>
              <div class="col-md-2">
                <span id="user_avatar4"><%= image_tag("/assets/user.png", alt: "user_avatar3") %></span>
              </div>
              <div class="col-md-10 sub-message">
                <div class="fadded">
                  <span ><%=  conversation.messages.last.body %></span>
                </div>
              </div>
            <% else %>
              <div class="col-md-2">
                <span id="user_avatar4"><%= image_tag conversation.messages.last.sender.image %> </span>
              </div>
              <div class="col-md-10 sub-message">
                <div class="fadded">
                  <span ><%=  conversation.messages.last.body %></span>
                </div>
              </div>
            <% end %>
        </div>
      </div>
      <hr style="margin:0px; padding:0px;">

    <% else %>

    <div class="my-messages">
      <div class="media-left">
        <% if current_user == conversation.originator %>
          <% conversation.recipients.each do |recipient| %>
            <% if recipient != current_user %>
              <% @recipient = recipient %>
            <% end %>
          <% end %>
          <% if @recipient.image.blank? %>
             <img src="<%= asset_path( 'user.png' ) %>" />
          <% else %>
            <span id="user_avatar"><%= image_tag @recipient.image  %> </span><br>
          <% end %>
        <% else %>
          <% unless conversation.originator.blank? %>
            <% if conversation.originator.image.blank? %>
              <img src="<%= asset_path( 'user.png' ) %>" />
            <% else %>
              <span id="user_avatar"><%= image_tag conversation.originator.image  %> </span><br>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="media-body">
        <% unless conversation.originator.blank? %>
          <% if current_user == conversation.originator %>
            <% conversation.recipients.each do |recipient| %>
              <% if recipient != current_user %>
                <% @recipient = recipient %>
              <% end %>
            <% end %>
            <span><%= @recipient.username %><br></span>
          <% else %>
            <span><%= conversation.originator.username %> </span><br>
          <% end %>      
        <% end %>


          <% if conversation.messages.last.sender.image.blank? %>
            <div class="col-md-2">
              <span id="user_avatar4"> <img src="<%= asset_path( 'user.png' ) %>" /></span>
            </div>
            <div class="col-md-10 sub-message">
              <div class="fadded">
                <span ><%=  conversation.messages.last.body %></span>
              </div>
            </div>
          <% else %>
            <div class="col-md-2">
              <span id="user_avatar4"><%= image_tag conversation.messages.last.sender.image %> </span>
            </div>
            <div class="col-md-10 sub-message">
              <div class="fadded">
                <span ><%=  conversation.messages.last.body %></span>
              </div>
            </div>
          <% end %>
      </div>
    </div>
    <hr style="margin:0px; padding:0px;">
    <% end %>
  <% end %>
<% end %>

