<% @receipts.order("created_at").each do |receipt| %>
    <% message = receipt.message %>
    <div class="media">
      <div class="media-left">

        <% if !message.sender.nil? %>
          <% if !message.sender.image.blank? %>
            <span id="user_avatar">
              <%= image_tag message.sender.image %> 
            </span><br>
          <% else %>
            <span id="user_avatar">  <%=link_to (image_tag("/assets/user.png", alt: "user_avatar") ), message.sender %> </span><br>
          <% end %>
        <% else %>
          <span id="user_avatar">  <%= (image_tag("/assets/user.png", alt: "user_avatar") ) %> </span><br>
        <% end %>
      </div>
      <div class="media-body">

        <p class="media-heading">
          <% if !message.sender.nil? %>
              <span style="color: #6495EA;"><%= link_to message.sender.firstname, message.sender %></span><br>
          <% else %>
            <span style="color: #6495EA;">Deleted User</span><br>
          <% end %>
        </p>
        <div class="message-field">
          <p style="font-size: larger; font-family: initial;">  <%= message.body %> </p>
          <h5 class="media-heading"><small><%=  message.created_at.strftime("%A, %b %d, %Y at %I:%M%p") %></small></h5>
        </div>
      </div>
    </div>
<% end %>