<div class="main-content">
  <div class="journal-header">
    <p>Pending Researches</p>
  </div>
    <div class="panel">
      <% if @reseaches.blank? %>
        <p>No pending research </p>
      <% else %>
        <% @reseaches.order("created_at DESC").each do |research| %>
          <%= link_to research do %> 
            <div class="row clickable-div">
              <p>
                <span style="color: grey;">
                  <strong>Topic: </strong>
                </span>
                <span style="color: #337ab7;">
                  <%= research.topic %>      
                </span>            
              </p>
              <p>
                <span style="color: grey;"><strong>Research Area: </strong></span>
                <span style="color: #337ab7;"><%= research.Research_area %></span>
              <p>
                <% if research.user.image.blank? %>
                  <p id="user_avatar">
                    <span><strong>Researcher: </strong></span><span style="color: #337ab7;"><%= research.user.username %></span>
                    <span style="margin-left: 10px;"><img src="<%= asset_path( 'default_user.png' ) %>" /></span>
                    </span>
                  </p>
                <% else %>
                  <p id="user_avatar">
                    <span style="color: grey;"><strong>Researcher: </strong></span><span style="color: #337ab7;"><%= research.user.username %></span>
                    <span style="margin-left: 10px;"><%= image_tag research.user.image %></span>
                  </p>
                <% end %>          
              </p>
              <div class="fade_research">
                <p><%= research.description %></p>
                <p class="read_more"></p>
              </div>
            </div> 
          <% end %>
          <hr>       
        <% end %>
      <% end %>
    </div>
</div>