<div class="row bottom">

	<hr style="height:2px;border:none;color:#333;background-color:#708090;" />
  <div class="row all-users">
  	<% unless @users.blank? %> 
      <% @users.each do |user| %>
        <div class="col-md-4 md-3-user">
          <%= link_to user do %>
            <div class="thumbnail user_dp_thumbnail">   
              <% if user.image.blank? %>
                <div id="user_avatar2">
                  <span ><img src="<%= asset_path( 'default_user.png' ) %>" /></span>
                </div>
              <% else %>
                <div id="user_avatar2">
                  <span ><%= image_tag user.image %></span>
                </div>
              <% end %>
              <div class="fadded_user">
              
                <p style="color: #4169E1; font-size: 20px; font-family: times; font-style: normal;">
                  <span><%=  user.firstname %> </span>
                  <span><%=  user.surname %> </span> 
                </p>
                <% unless user.membership.blank? %>
                  <p style="color: black; font-size: 14px; font-family: times; font-style: italic;">
                   <% if user.membership.kind == "Executive" %>
                      <span style="color: gold;"><i class="fa fa-address-card" aria-hidden="true"> </i> </span>
                      <span style="color: gold;">(Executive)</span>
                    <% elsif user.membership.kind == "Proffesional" %>
                      <span style="color: #7CFC00;"><i class="fa fa-address-card" aria-hidden="true"> </i> </span>
                      <span style="color: #7CFC00;">(Professional)</span>
                    <% else %>
                      <span style="color: #835220;"><i class="fa fa-address-card" aria-hidden="true"> </i> </span>
                      <span style="color: #835220;">(Student)</span>
                    <% end %>               
                    <span> Certified </span>
                    <span>member! </span>
                  </p>
                <% end %> 
                <p>
                  <% unless user.qualification.blank? %>  
                    <span><i class="fa fa-graduation-cap" aria-hidden="true"> </i> </span>
                    <span><%=  user.qualification %></span>,
                  <% end %>
                  <% unless user.field.blank? %>  
                    <span><%=  user.field %></span>
                  <% end %>
                 
                </p>
                <p>
                  <% unless user.institution.blank? %>             
                    <span> <i class="fa fa-university" aria-hidden="true"></i>
                      <%=  user.institution %>
                    </span>
                  <% end %>
                </p>
                <p>
                  <% unless user.placeOfWork.blank? %>  
                    <span> <i class="fa fa-briefcase" aria-hidden="true"></i>
                      <%=  user.placeOfWork %>
                    </span>
                  <% end %>               
                </p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>