<div class="row bottom">


	<hr style="height:2px;border:none;color:#333;background-color:#708090;" />
  <div class="row all-users">
  	<% unless @users.blank? %> 
      <% @users.each do |user| %>
        <div class="col-md-4 md-3-user">
          <%= link_to user do %>
            <div class="thumbnail user_dp_thumbnail">   
              <% if user.image.blank? %>
              <p id="user_avatar2"><img src="<%= asset_path( 'default_user.png' ) %>" /></p>
              <% else %>
                <p id="user_avatar2"><%= image_tag user.image %></p>
              <% end %>
              <div class="fadded_user">

                <p style="color: #4169E1; font-size: 20px; font-family: times; font-style: normal;">
                  <span><%=  user.firstname %> </span>
                  <span><%=  user.surname %> </span> 
                </p>
                <p>
                  <% unless user.qualification.blank? %>  
                    <span><i class="fa fa-graduation-cap" aria-hidden="true"> </i> </span>
                    <span><%=  user.qualification %></span>,
                  <% end %>
                  <% unless user.field.blank? %>  
                    <span><%=  user.field %></span>
                  <% end %>
                 
                </p>
                <p>
                  <% unless user.institution.blank? %>             
                    <span> <i class="fa fa-university" aria-hidden="true"></i>
                      <%=  user.institution %>
                    </span>
                  <% end %>
                </p>
                <p>
                  <% unless user.placeOfWork.blank? %>  
                    <span> <i class="fa fa-briefcase" aria-hidden="true"></i>
                      <%=  user.placeOfWork %>
                    </span>
                  <% end %>               
                </p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>