<div class="panel">
  <div class="panel-body">
  	<div class="row user_details">
  		<div class="col-md-3">
	  		<% if  @user.image.blank? %>
          <span id="user_avatar2"><img src="<%= asset_path( 'default_user.png' ) %>" /></span>
	      <% else %>
	      	<span id="user_avatar2"><%= image_tag @user.image %></span>
	      <% end %>
      </div>
      <div class="col-md-9">
      	<div id="user_info">
      		<p id="user_title">
	      		<span ><%= @user.title %></span>
	      		<span ><%= @user.firstname %></span>
	      		<% unless @user.middlename.blank?  %>
	      			<span><%= @user.middlename %></span>
	      		<% end %>
	      		<span><%= @user.surname %></span>
      		</p>
      		<p style="color: grey">
 	      		<% if @user.qualification == "PhD" ||  @user.qualification == "Dsc"  %>
	      			<span> Doctor of Science,</span>
	      			<span><%= @user.field %></span>
            <% elsif @user.qualification == "Bsc" %>
              <span> Bachelor of Science,</span>
              <span><%= @user.field %></span>
            <% elsif @user.qualification == "Msc" %>
              <span> Master of Science,</span>
              <span><%= @user.field %></span>
            <% else %>
              <span><%= @user.field %></span>
	      		<% end %>
      		</p>     		    		
          <p style="color: grey">
            <span>Phone: </span>
            <span><%= @user.phone %></span>
          </p>      		
          <p style="color: grey">
            <span>email: </span>
      			<span><%= @user.email %></span>
      		</p>
          <% unless user_signed_in? && current_user == @user %>
            <div class="message-user">
              <%= form_for :conversation, url: :conversations, html: { class: "" } do |f| %>
                <div class="form-group">
                  <% @users = User.where("id = ?", @user.id) %>
                  <div id="messageButton">
                    <%= f.select :recipients, @users.all.collect {|p| [ "Write Message", p.id ] }, {} ,{ multiple: true}  %>    
                  </div>
                </div> 

                <div id="send_message">
                  <div class="form-group">
                    <%= f.label :subject %>
                    <%= f.text_field :subject, placeholder: "Subject", class: "form-control", :required => true %>
                  </div>
                  <div class="form-group">
                    <%= f.label :message %>
                    <%= f.text_area :body, class: 'form-control',placeholder: "Type your message here", rows: 4  %>
                  </div>
                  <%= f.submit "Send Message", class: "btn btn-success" %>
                </div>
              <% end %>
            </div>
          <% end %>
      	</div>
      </div>
  	</div>
  </div>
</div> 

<div class="row">

	<% unless @manuscripts.blank? %>
    <div class="panel">
      <div class="panel-body">
      	<h4><%= @user.username %>'s  Published Manuscripts</h4>
        <hr style="height:2px;border:none;color:#333;background-color:#708090;" />
      	<% @manuscripts.each do |manuscript| %>
          <div class="row">
            <div class="col-sm-3 ">
                <div class="thumbnail thumbnail-manuscript">
                	<%= image_tag manuscript.image %>
                </div>       
            </div>       
            <div class="col-sm-9 ">
  						<h4 style="color: #337ab7;"><%=  manuscript.title %> </h4>
              <% if manuscript.user.image.blank? %>
                <span id="user_avatar"><img src="<%= asset_path( 'user.png' ) %>" /></span>
              <% else %>
                <span id="user_avatar"><%= image_tag manuscript.user.image %> </span>
  						<% end %>
              <span style="color: #337ab7; font-style: italic; margin-left: 10px;"> <%= manuscript.user.username %></span>
              <span style="color: grey; float: right;"><%= manuscript.created_at.strftime("%b %d, %Y")  %></span>
              <p> <%= simple_format(manuscript.abstract) %>  </p>
              <p style="color:#337ab7;"> 
              	<span>Vol. </span> 
              	<span><%= manuscript.volume %> </span>
              	<span>Issue</span> 
                <span><%= manuscript.issue %> </span>
              	<span id="note3">
                  <% if manuscript.document_content_type == "application/pdf" %>
                    <%= link_to image_tag("/assets/doc3.jpg", alt: "pdf"), manuscript.document.url, target: "_blank" %>
                  <% else %>
                    <%= link_to image_tag("/assets/note3.png", alt: "doc"), manuscript.document.url, target: "_blank" %>
                  <% end %>
                </span>
              </p>
            </div>  
          </div>
        <% end %>
      </div>
    </div>	
	<% end %>

  <% unless @articles.blank? %>
    <div class="panel">
     <div class="panel-body">
      <h4>
        <span><%= @user.username %>'s  Articles</span>
        <hr style="height:2px;border:none;color:#333;background-color:#708090;" />
      </h4>
      <% @articles.each do |article| %>
        <h4 id="research-link">  
          <span><%=link_to article.title, article  %><span>
        </h4>
      <% end %>
      </div>
    </div>
  <% end %> 

  <% unless @posts.blank? %>
    <div class="panel">
     <div class="panel-body">
      <h4><%= @user.username %>'s  Posts
        <hr style="height:2px;border:none;color:#333;background-color:#708090;" />
      </h4>
      <% @posts.each do |post| %>
        <h4 id="research-link">  
          <span><%=link_to post.title, post  %><span>
        </h4>
      <% end %>
      </div>
    </div>
  <% end %> 

  <% unless @user_researches.blank? %>
    <div class="panel">
     <div class="panel-body">
      <h4><%= @user.username %>'s  Research works
        <hr style="height:2px;border:none;color:#333;background-color:#708090;" />
      </h4>
      <% @user_researches.each do |research| %>
        <h4 id="research-link">
          <span style="float: right; font-size: small;">
            <% if research.concluded %> 
              <span style="color: grey; margin-right:10px;">Status</span><span style="color: #32CD32;">Concluded</span>
            <% else %>   
              <span style="color: grey; margin-right:10px;">Status</span><span style="color: #32CD32;">On Going</span>
            <% end %>   
          </span>
          <span><%=link_to research.topic,research  %><span>
        </h4>
      <% end %>
      </div>
    </div>
  <% end %>
</div>




