<div class="row">
	<div class="col-md-3 left_menu">  
	  <%= render 'layouts/leftSide_menu' %>
	</div>
	<div class="col-md-9 middle_content">
		<div class="row article">
			<div id="article-title">
				<%=  @event.title %>
			</div>
			<div id="article-body">
				<%= simple_format(@event.body) %>             
		  </div>
		</div>
		<div class="row main-content">
			<div class="row middle">
				<div class="col-md-6">
					<hr style="height:2px;border:none;color:#333;background-color:#708090;" />
					<h3 class="sub-title">Join Discussions!</h3>
					<div class="join-discussions">
						<% unless @posts.blank? %>
							<%= link_to @posts.fourth do %> 
								<div class="sub-item1">
									<p id="trunc"><%=  @posts.fourth.body %></p>
								</div>
							<% end %>

							<% unless @posts.third.blank?  %>
								<%= link_to @posts.third do %> 
									<div class="sub-item2">
										<p id="trunc"><%=  @posts.third.title %></p>
									</div>
								<% end %>
							<% end %>

							<% unless @posts.second.blank?  %>
								<%= link_to @posts.second do %> 
									<div class="sub-item3">
										<p id="trunc"><%=  @posts.second.title %></p>
									</div>
								<% end %>
							<% end %>

							<% unless @posts.first.blank?  %>
								<%= link_to @posts.first do %> 
									<div class="sub-item4">
										<p id="trunc"><%=  @posts.first.title  %></p>
									</div>
								<% end %>
							<% end %>
						<% end %>
					</div>
				</div>		
			</div>
		</div>
	</div>
</div>


