    
<div class="row">
  <div class="col-md custom_wrapper">  
    <h3 id="form-header">Edit Journal</h3>
    <div class="my-form">
    <%= form_with(model: @journal, local: true) do |form| %>
      <% if @journal.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@journal.errors.count, "error") %> prohibited this journal from being saved:</h2>

          <ul>
          <% editor.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

        <div class="form-group">
        <p id="form-lebel"><%= form.label :name %><p>
          <%= form.text_field :name, :required => true  %>
        </div> 
        <div class="form-group">
        <p id="form-lebel"><%= form.label :description %><p>
          <%= form.text_area :description,  :required => true  %>
        </div>
      <div class="actions">
        <input type="submit" name="commit" value="Update Journal" data-disable-with="Update Journal">
      </div>
    <% end %>
    </div>
  </div>
</div>
 