<div class="row">
  <div class="col-md custom_wrapper">
    <div class="main-content">
      <div class="journal-header">
        <p>Discussions</p>
      </div>
      <div class="panel">
        <% @posts.each do |post| %> 
          <%= link_to post do %> 
            <div class="row clickable-div">
              <div class="col-sm-2 posts-col-sm">
                <% if post.user.image.blank? %>
                  <div id="user_avatar">
                    <span ><img src="<%= asset_path( 'default_user.png' ) %>" /></span>
                    <% unless post.user.membership.blank? %>
                      <span style="color: #32CD32; font-size: 14px; font-family: times; font-style: italic;">
                       <% if post.user.membership.kind == "Executive" %>
                          <span style="color: gold;"><i class="fa fa-address-card" aria-hidden="true"> </i> </span>
                        <% elsif post.user.membership.kind == "Proffesional" %>
                          <span style="color: #7CFC00;"><i class="fa fa-address-card" aria-hidden="true"> </i> </span>
                        <% else %>
                          <span style="color: #835220;"><i class="fa fa-address-card" aria-hidden="true"> </i> </span>
                        <% end %>               
                      </span>
                    <% end %> 
                  </div>
                <% else %>
                  <div id="user_avatar">
                  <span ><%= image_tag post.user.image %></span>
                    <% unless post.user.membership.blank? %>
                      <span style="color: #32CD32; font-size: 14px; font-family: times; font-style: italic;">
                       <% if post.user.membership.kind == "Executive" %>
                          <span style="color: gold;"><i class="fa fa-address-card" aria-hidden="true"> </i> </span>
                        <% elsif post.user.membership.kind == "Proffesional" %>
                          <span style="color: #7CFC00;"><i class="fa fa-address-card" aria-hidden="true"> </i> </span>
                        <% else %>
                          <span style="color: #835220;"><i class="fa fa-address-card" aria-hidden="true"> </i> </span>
                        <% end %>               
                      </span>
                    <% end %> 
                  </div>
                <% end %>
              </div>       
              <div class="col-sm-10">
              <div class="discuss">
                <p ><strong style="font-family: initial; font-size: large;"><%=  post.title  %> </strong></p>
                <div class="fadded">
                  <span><%=  post.body  %> </span>
                </div>
              </div>
              </div>  
            </div>
          <% end %>
        <% end %>
        <p> <%= will_paginate @posts %> </p>
      </div>
    </div>
  </div>
</div>



