<% if user_signed_in? %>
	<%= link_to current_user do %>
		<div class="row user_content">
			<div class="user_content_pic">
				<div class="profile-pic-small">
		      <% if current_user.image.blank? %>
		      	<p><img src="<%= asset_path( 'default_user.png' ) %>" /></p>
		      <% else %>
		        <p><%= image_tag current_user.image %></p>
		      <% end %>		
				</div>
			</div>

			<div class="welcome_user">
				<span>Welcome, <%=  current_user.firstname %>!</span>
			</div>		
			<div style="text-align: center; padding-bottom: 10px;">
				<span style="font-size: 12px;">View your Profile</span>
			</div>
		</div>
	<% end %>
<% else %>
		<div class="row user_content">
			<div class="user_content_pic">
				<div class="profile-pic-small">
									
				</div>
				</div>
				<h3 style="color: black;"> <%= link_to "Sign Up!", new_user_registration_path %></h3>	
				<%= link_to users_path  do %>
				<div class="welcome_user">
					<span> View the ASPAP </span>
				</div>		
				<div style="text-align: center; padding-bottom: 10px;">
					<span style="font-size: 12px;">Network</span>
				</div>
			<% end %>
		</div>
<% end %>

<div class="row side-content-bottom">
		<h5 id="side-content-links"> <i class="fa fa-users" aria-hidden="true"></i>
			<%= link_to "ASPAP Network" , users_path %>
		</h5>
    <h5 id="side-content-links">
    	<span style="margin-right: 10px;"><i class="fa fa-comments-o"  aria-hidden="true"></i></span>
    	<%= link_to "Discussions" ,posts_path(@posts) %> 
    </h5>      
    <h5 id="side-content-links">
    	<span style="margin-right: 10px;"><i class="fa fa-picture-o"  aria-hidden="true"></i></span>
    	<%= link_to "Gallery" ,pictures_path(@posts) %> 
    </h5>   
		<% if user_signed_in? %>
			
		  <h5 id="side-content-links"> <%= link_to "My Posts" , my_posts_path %></h5>
		  <h5 id="side-content-links"> <%= link_to "My Manuscripts" , my_manuscripts_path %></h5>
		  <h5 id="side-content-links"> <%= link_to "My Research" , my_researches_path %></h5>
		  <h5 id="side-content-links"> <%= link_to "My Articles" , my_articles_path %></h5>
		 	<h5 id="side-content-links"><%= link_to "My Account" , edit_user_registration_path %></h5>
		<% end %>
</div>

<% if user_signed_in? %>
	<div class="row administrative_content">
		<div id="administrative_header"> <p style="color:white;">Admin</p></div>
	 	<% if current_user.vip?  %>
			<div class="administrative">
		 		<h5 id="side-content-links">  
		 			<span class="label label-danger top-right-item">      
          	<span><%= @pending_manuscripts + 0 %></span>
        	</span> 
		 			<span><%= link_to "Pending Manuscripts" , manuscripts_path %></span>
		 		</h5>
		 		<h5 id="side-content-links"> 
		 			<span class="label label-danger top-right-item">      
          	<span><%= @pending_research + 0 %> </span>
         	</span>
		 			<span><%= link_to "Pending Research" , pending_researches_path %></span>
		 		</h5>
		 		<h5 id="side-content-links">
		 			<span class="label label-danger top-right-item">      
          	<span><%= @pending_articles + 0 %></span>      	
          </span>		
		 		 <span><%= link_to "Pending Articles" , pending_articles_path %> 	</span>		
		 		</h5>			 		
		 		<h5 id="side-content-links">
		 			<span class="label label-danger top-right-item">      
          	<span><%= @pending_requests + 0 %></span>      	
          </span>		
		 		 <span><%= link_to "Pending Requests" , editors_path %> 	</span>		
		 		</h5>
		 		<h5 id="side-content-links"> <%= link_to "Add a new Executive" , new_executive_path %></h5>
		 		<h5 id="side-content-links"> <%= link_to "Add a new Downloads" , new_download_path %></h5>
		 		<h5 id="side-content-links"> <%= link_to "Add a new Directorate" , new_directorate_path %></h5>
		 		<h5 id="side-content-links"> <%= link_to "Add a new Journal" , new_journal_path %></h5>
	 		</div>
		<% elsif  current_user.PR? || current_user.editor? %>
			<div class="administrative">
		 		<h5 id="side-content-links">  
		 			<span class="label label-danger top-right-item">      
          	<span><%= @pending_manuscripts + 0 %></span>
        	</span> 
		 			<span><%= link_to "Pending Manuscripts" , manuscripts_path %></span>
		 		</h5>
		 		<h5 id="side-content-links"> 
		 			<span class="label label-danger top-right-item">      
          	<span><%= @pending_research + 0 %> </span>
         	</span>
		 			<span><%= link_to "Pending Research" , pending_researches_path %></span>
		 		</h5>
		 		<h5 id="side-content-links">
		 			<span class="label label-danger top-right-item">      
          	<span><%= @pending_articles + 0 %></span>      	
          </span>		
		 		 <span><%= link_to "Pending Articles" , pending_articles_path %> 	</span>		
		 		</h5>			 		
		 		<h5 id="side-content-links">
		 			<span class="label label-danger top-right-item">      
          	<span><%= @pending_requests + 0 %></span>      	
          </span>		
		 		 <span><%= link_to "Pending Requests" , editors_path %> 	</span>		
		 		</h5>	
	 		</div>			
	 	<% elsif  current_user.publisher? %>
			<div class="administrative">
		 		<h5 id="side-content-links">  
		 			<span class="label label-danger top-right-item">      
          	<span><%= @pending_manuscripts + 0 %></span>
        	</span> 
		 			<span><%= link_to "Pending Manuscripts" , manuscripts_path %></span>
		 		</h5> 		
	 		</div>
		<% end %>	
	</div>
<% end %>