<% if user_signed_in? %>
	<%= link_to current_user do %>
		<div class="row user_content">
			<div class="user_content_pic">
				<div class="profile-pic-small">
		      <% if current_user.image.blank? %>
	          <div style="position: relative; left: 0; top: 0;">
	            <div id="paged_pic">
	            <span ><img src="<%= asset_path( 'default_user.png' ) %>" /></span>
	            </div>
	            <div id="certificate_2">
	              <% if !current_user.membership.blank? %>
	                <span style="color: orange; font-size: 30px;">
	                  <i class="fa fa-certificate" aria-hidden="true"></i>
	                </span>
	              <% end %>
	            </div>
	          </div>
		      <% else %>
		        <p><%= image_tag current_user.image %></p>
		      <% end %>		
				</div>
			</div>

			<div class="welcome_user">
				<span>Welcome, <%=  current_user.firstname %>!</span>
        <% if !current_user.membership.blank?%>
          <p style="color: #32CD32; font-size: 14px; font-family: times; font-style: normal;">
            <span style="color: #FF4500;"><i class="fa fa-address-card" aria-hidden="true"> </i> </span>
            <span>ASPAP</span>
            <span> Certified </span>
            <span>member! </span>
          </p>
        <% end %>
			</div>		
			<div style="text-align: center; padding-bottom: 10px;">
				<span style="font-size: 12px;">View your Profile</span>
			</div>
		</div>
	<% end %>
<% else %>
	<div class="row user_content">
		<div class="user_content_pic">
			<div class="profile-pic-small">
								
			</div>
			</div>
			<h3 style="color: black;"> <%= link_to "Sign Up!", new_user_registration_path %></h3>	
			<%= link_to users_path  do %>
			<div class="welcome_user">
				<span> View the ASPAP </span>
			</div>		
			<div style="text-align: center; padding-bottom: 10px;">
				<span style="font-size: 12px;">Network</span>
			</div>
		<% end %>
	</div>
<% end %>

<div class="row side-content-bottom">
		<h5 id="side-content-links"> <i class="fa fa-users" aria-hidden="true"></i>
			<%= link_to "ASPAP Network" , users_path %>
		</h5>
    <h5 id="side-content-links">
    	<span style="margin-right: 10px;"><i class="fa fa-comments-o"  aria-hidden="true"></i></span>
    	<%= link_to "Discussions" ,posts_path(@posts) %> 
    </h5>      
    <h5 id="side-content-links">
    	<span style="margin-right: 10px;"><i class="fa fa-picture-o"  aria-hidden="true"></i></span>
    	<%= link_to "Gallery" ,pictures_path(@posts) %> 
    </h5>   
		<% if user_signed_in? %>
			<% if !current_user.membership.blank? %>
		  	<h5 id="side-content-links"> <%= link_to "My Membership" , current_user.membership %></h5>
			<% end %>
		  <h5 id="side-content-links"> <%= link_to "My Posts" , my_posts_path %></h5>
		  <h5 id="side-content-links"> <%= link_to "My Manuscripts" , my_manuscripts_path %></h5>
		  <h5 id="side-content-links"> <%= link_to "My Research" , my_researches_path %></h5>
		  <h5 id="side-content-links"> <%= link_to "My Articles" , my_articles_path %></h5>
		 	<h5 id="side-content-links"><%= link_to "My Account" , edit_user_registration_path %></h5>
		<% end %>
</div>

<% if user_signed_in?%>
	<div class="row administrative_content">
		
	 	<% if current_user.vip?  %>
	 		<div id="administrative_header"> <p style="color:white;">Admin</p></div>
			<div class="administrative">
		 		<h5 id="side-content-links">  
		 			<span class="label label-danger top-right-item">      
          	<span><%= @pending_manuscripts + 0 %></span>
        	</span> 
		 			<span><%= link_to "Pending Manuscripts" , manuscripts_path %></span>
		 		</h5>
		 		<h5 id="side-content-links"> 
		 			<span class="label label-danger top-right-item">      
          	<span><%= @pending_research + 0 %> </span>
         	</span>
		 			<span><%= link_to "Pending Research" , pending_researches_path %></span>
		 		</h5>
		 		<h5 id="side-content-links">
		 			<span class="label label-danger top-right-item">      
          	<span><%= @pending_articles + 0 %></span>      	
          </span>		
		 		 <span><%= link_to "Pending Articles" , pending_articles_path %> 	</span>		
		 		</h5>			 		
		 		<h5 id="side-content-links">
		 			<span class="label label-danger top-right-item">      
          	<span><%= @received_applications + 0 %></span>      	
          </span>		
		 		 <span><%= link_to "Received Applications" , received_applications_path %> 	</span>		
		 		</h5>			 		
		 		<h5 id="side-content-links">
		 			<span class="label label-danger top-right-item">      
          	<span><%= @pending_requests + 0 %></span>      	
          </span>		
		 		 <span><%= link_to "Pending Requests" , editors_path %> 	</span>		
		 		</h5>
		 		<h5 id="side-content-links"> <%= link_to "ASPAP Members" , memberships_path %></h5>
		 		<h5 id="side-content-links"> <%= link_to "Add a new Executive" , new_executive_path %></h5>
		 		<h5 id="side-content-links"> <%= link_to "Add a new Download" , new_download_path %></h5>
		 		<h5 id="side-content-links"> <%= link_to "Add a new Directorate" , new_directorate_path %></h5>
		 		<h5 id="side-content-links"> <%= link_to "Add a new Journal" , new_journal_path %></h5>
	 		</div>
		<% elsif  current_user.PR? || current_user.editor? %>
			<div id="administrative_header"> <p style="color:white;">Admin</p></div>
			<div class="administrative">
		 		<h5 id="side-content-links">  
		 			<span class="label label-danger top-right-item">      
          	<span><%= @pending_manuscripts + 0 %></span>
        	</span> 
		 			<span><%= link_to "Pending Manuscripts" , manuscripts_path %></span>
		 		</h5>
		 		<h5 id="side-content-links"> 
		 			<span class="label label-danger top-right-item">      
          	<span><%= @pending_research + 0 %> </span>
         	</span>
		 			<span><%= link_to "Pending Research" , pending_researches_path %></span>
		 		</h5>
		 		<h5 id="side-content-links">
		 			<span class="label label-danger top-right-item">      
          	<span><%= @pending_articles + 0 %></span>      	
          </span>		
		 		 <span><%= link_to "Pending Articles" , pending_articles_path %> 	</span>	
		 		</h5>			 		
	 		</div>			
	 	<% elsif  current_user.publisher? %>
	 		<div id="administrative_header"> <p style="color:white;">Admin</p></div>
			<div class="administrative">
		 		<h5 id="side-content-links">  
		 			<span class="label label-danger top-right-item">      
          	<span><%= @pending_manuscripts + 0 %></span>
        	</span> 
		 			<span><%= link_to "Pending Manuscripts" , manuscripts_path %></span>
		 		</h5> 		
	 		</div>
		<% end %>	
	</div>
<% end %>