<% if user_signed_in? %>
	<%= link_to current_user do %>
		<div class="row user_content">
			<div class="user_content_pic">
				<div class="profile-pic-small">
			      <% if current_user.image.blank? %>
			      	<p><img src="<%= asset_path( 'default_user.png' ) %>" /></p>
			      <% else %>
			        <p><%= image_tag current_user.image %></p>
			      <% end %>
					
				</div>
			</div>

			<div class="welcome_user">
				<span>Welcome, <%=  current_user.firstname %>!</span>
			</div>		
			<div style="text-align: center; padding-bottom: 10px;">
				<span style="font-size: 12px;">View your Profile</span>
			</div>
		</div>
	<% end %>
<% else %>
		<div class="row user_content">
			<div class="user_content_pic">
				<div class="profile-pic-small">
									
				</div>
				</div>
				<h3 style="color: black;"> <%= link_to "Sign Up!", new_user_registration_path %></h3>	
				<%= link_to users_path  do %>
				<div class="welcome_user">
					<span> View the ASPAP </span>
				</div>		
				<div style="text-align: center; padding-bottom: 10px;">
					<span style="font-size: 12px;">Network</span>
				</div>
			<% end %>
		</div>
<% end %>

<div class="row side-content-bottom">
		<h5 id="side-content-links"> <i class="fa fa-users" aria-hidden="true"></i>
			<%= link_to "ASPAP Network" , users_path %>
		</h5>
    <h5 id="side-content-links">
    	<span style="margin-right: 10px;"><i class="fa fa-comments-o"  aria-hidden="true"></i></span>
    	<%= link_to "Discussions" ,posts_path(@posts) %> 
    </h5>      
    <h5 id="side-content-links">
    	<span style="margin-right: 10px;"><i class="fa fa-picture-o"  aria-hidden="true"></i></span>
    	<%= link_to "Gallery" ,pictures_path(@posts) %> 
    </h5>   
		<% if user_signed_in? %>
		  <h5 id="side-content-links"> <%= link_to "My Posts" , my_posts_path %></h5>
		  <h5 id="side-content-links"> <%= link_to "My Manuscripts" , my_manuscripts_path %></h5>
		  <h5 id="side-content-links"> <%= link_to "My Research" , my_researches_path %></h5>
		  <h5 id="side-content-links"> <%= link_to "My Articles" , my_articles_path %></h5>
		 	<h5 id="side-content-links"><%= link_to "My Account" , edit_user_registration_path %></h5>
		 	<% if current_user.vip?  %>
				<div class="administrative">
			 		<h5 id="side-content-links"> <%= link_to "PENDING MANUSCRIPTS" , manuscripts_path %></h5>
			 		<h5 id="side-content-links"> <%= link_to "PENDING RESEARCH" , pending_researches_path %></h5>
			 		<h5 id="side-content-links"> <%= link_to "PENDING ARTICLES" , pending_articles_path %></h5>
			 		<h5 id="side-content-links"> <%= link_to "PENDING REQUESTS" , editors_path %></h5>
			 		<h5 id="side-content-links"> <%= link_to "ADD EXECUTIVE" , new_executive_path %></h5>
			 		<h5 id="side-content-links"> <%= link_to "ADD TO DOWNLOADS" , new_download_path %></h5>
			 		<h5 id="side-content-links"> <%= link_to "ADD TO DIRECTORATES" , new_directorate_path %></h5>
			 		<h5 id="side-content-links"> <%= link_to "ADD A JOURNAL" , new_journal_path %></h5>
		 		</div>
			<% elsif  current_user.PR? || current_user.editor? %>
				<div class="administrative">
			 		<h5 id="side-content-links"> <%= link_to "PENDING MANUSCRIPTS" , manuscripts_path %></h5>
			 		
		 		</div>			
		 	<% elsif  current_user.publisher? %>
				<div class="administrative">
			 		<h5 id="side-content-links"> <%= link_to "PENDING MANUSCRIPTS" , manuscripts_path %></h5>
		 		</div>
			<% end %>	
		<% end %>
</div>
