<div class="row side-content">
		<% if user_signed_in? && !current_user.verified? %>
			<h5 id="side-content-links"> <%= link_to "Verify your account" , new_editor_path %></h5>
		<% end %>
   <h5 id="side-content-links"> <%= link_to "Articles" , articles_path %></h5>
   <h5 id="side-content-links"> <%= link_to "Research" , researches_path %></h5>
   <h5 id="side-content-links"> <%= link_to "Start a research" , new_research_path %></h5>
	 <h5 id="side-content-links"> <%= link_to "ASPAP Journal" , journal_pages_path %></h5>
   <h5 id="side-content-links"> <%= link_to "Publish to the journal" , journals_path %></h5>
   <h5 id="side-content-links"> <%= link_to "Publishing ethics & policies" , publishing_processes_path %></h5>	 
   <% unless user_signed_in? && !current_user.verified? %>
   	 <h5 id="side-content-links"> <%= link_to "Join the ASPAP editorial team" , editorial_teams_path %></h5>
   <% end %>
	 <h5 id="side-content-links"> <%= link_to "ASPAP Executive 2020-2022" , executives_path %></h5>
	 <h5 id="side-content-links"> <%= link_to "ASPAP Constitution" , constitutions_path %></h5>
	 <h5 id="side-content-links"> <%= link_to "Downloads" , downloads_path %></h5>
</div>

<div class="row side-content-footer">
	<span style="margin:10px;"><%= link_to "About Us", abouts_path %></span>
		<span class="email"> 
    <%= mail_to "secretary@aspap.org" do %>
      <i class="fa fa-envelope-o" aria-hidden="true" target="_blank"></i> Webmail
    <% end %>
  	</span> 
		<span ><i class="fa fa-phone" aria-hidden="true"></i></span>
    <span style="color: grey;">+260977948551</span>
   	<p style="color:grey; font-style: 12px; margin: 10px;">Copyright ©<span style="color:#4169E1;">ASPAP</span> <%= Time.now.strftime("%Y") %>
		</p>
		<p style="color: #FF4500; margin:10px;">
			Links	
		</p>
		<p style="margin:10px;">
			<span style="color: grey;"><i class="fa fa-link" aria-hidden="true"></i></span><a href="https://www.mohe.gov.zm/"> Ministry of Higher Education</a> 
		</p>		
		<p style="margin:10px;">
			<span style="color: grey;"><i class="fa fa-link" aria-hidden="true"></i></span><a href="https://www.linkedin.com/in/mkusa-sakala-861383161/"> Web Developer</a> 
		</p>
</div>


