<div class="row side-content">
	 <hr style="height:2px;border:none;color:#333;background-color:white;" />
   <h5 id="side-content-links"> <%= link_to "PUBLISH TO A JOURNAL" , new_manuscript_path %></h5>
	 <hr style="height:2px;border:none;color:#333;background-color:white;" />
   <h5 id="side-content-links"> <%= link_to "JOIN THE EDITORIAL TEAM" , new_editor_path %></h5>

	 <hr style="height:2px;border:none;color:#333;background-color:white;" />
   <h5> <%= link_to "RESEARCHES" , researches_path %></h5>
	 <hr style="height:2px;border:none;color:#333;background-color:white;" />
   <h5> <%= link_to "START A RESEARCH" , new_research_path %></h5>
	 <hr style="height:2px;border:none;color:#333;background-color:white;" />

   <h5> <%= link_to "ARTICLES" , articles_path %></h5>
	 <hr style="height:2px;border:none;color:#333;background-color:white;" />

	 <h5> <%= link_to "ASPAP CONSTITUTION" , constitutions_path %></h5>
	 <hr style="height:2px;border:none;color:#333;background-color:white;" />
	 <h5> <%= link_to "ASPAP EXECUTIVE" , executives_path %></h5>
	 <hr style="height:2px;border:none;color:#333;background-color:white;" />
	 <h5> <%= link_to "DOWNLOADS" , downloads_path %></h5>
	 <hr style="height:2px;border:none;color:#333;background-color:white;" />
</div>

<div class="row side-content-bottom">
	 <h5 id="side-content-links"> <%= link_to "MY POSTS" , my_posts_path %></h5>
	 <h5 id="side-content-links"> <%= link_to "MY MANUSCRIPTS" , my_manuscripts_path %></h5>
	 
	 <h5 id="side-content-links"><%= link_to "MY ACCOUNT" , edit_user_registration_path %></h5>	
	 <h5 id="side-content-links">
		 <span><i class="fa fa-envelope-open-o" aria-hidden="true"></i></span>
		 <span> <%= link_to "MESSAGES", mailbox_inbox_path %></span>
	 </h5>

		<% if user_signed_in? %>
		 	<% if current_user.vip?  %>
				<div class="administrative">
			 		<h5 id="side-content-links"> <%= link_to "PENDING MANUSCRIPTS" , manuscripts_path %></h5>
			 		<h5 id="side-content-links"> <%= link_to "PENDING RESEARCHES" , researches_path %></h5>
			 		<h5 id="side-content-links"> <%= link_to "MY ARTICLES" , my_articles_path %></h5>
			 		<h5 id="side-content-links"> <%= link_to "PENDING REQUESTS" , editors_path %></h5>
			 		<h5 id="side-content-links"> <%= link_to "ADD TO DOWNLOADS" , new_download_path %></h5>
			 		<h5 id="side-content-links"> <%= link_to "ADD NEW EXECUTIVE" , new_executive_path %></h5>
		 		</div>
			<% elsif  current_user.PR? || current_user.editor? %>
				<div class="administrative">
			 		<h5 id="side-content-links"> <%= link_to "PENDING MANUSCRIPTS" , manuscripts_path %></h5>
			 		<h5 id="side-content-links"> <%= link_to "CREATE AN ARTICLE" , new_article_path %></h5>
			 		<h5 id="side-content-links"> <%= link_to "MY ARTICLES" , my_articles_path %></h5>
			 		<h5 id="side-content-links"> <%= link_to "CREATE AN ARTICLE" , new_article_path %></h5>
		 		</div>			
		 	<% elsif  current_user.publisher? %>
				<div class="administrative">
			 		<h5 id="side-content-links"> <%= link_to "PENDING MANUSCRIPTS" , manuscripts_path %></h5>
			 		<h5 id="side-content-links"> <%= link_to "CREATE AN ARTICLE" , new_article_path %></h5>
			 		<h5 id="side-content-links"> <%= link_to "MY ARTICLES" , my_articles_path %></h5>
			 		<h5 id="side-content-links"> <%= link_to "CREATE AN ARTICLE" , new_article_path %></h5>
		 		</div>
			<% end %>	
		<% end %>
	</div>
