  <!-- Trigger the modal with a button -->
<% if current_user.verified? %>  
  <div class="row top-content">
    <div class="row">
      <div class="col-md-6 col-md-6-openPostBox">
        <div type="button" class="openPostBox" data-toggle="modal" data-target="#myModal">
          <span style="font-size: 24px;color: grey;"><i class="fa fa-edit" aria-hidden="true"> </i> </span>
          <span style="font-size: 18px; color: grey;">Write at post...</span>
        </div>   
      </div>
      <div class="col-md-6 col-md-6-directorate">
        <div id="slideshow">
            <% @events.each do |event| %>
              <div>
                <%= link_to event do %>
                <p id="event_fade" ">
                  <span style="font-size: 16px;color: #32CD32;"><i class="fa fa-tasks"></i> 
                  </span> 
                  <span style="font-size: 14px;color: black;"><%=  event.title %> </span><br>
                  <span><%= event.body %> </span> 
                </p>
                <% end %>
              </div>
            <% end %>
        </div>
      </div>
    </div>
    <div class="row submit-aspap-artical">
      <div class="row">
        <div class="col-md-3">
          <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
          <span style="color: grey;font-size: 14px;"><i class="fa fa-code-fork" aria-hidden="true"></i></span>
          <span style="color: #38678b; font-size: 16px;"> 
              Directorates
          </span>
          </button>
          <div class="dropdown-menu">
            <% @directorates.each do |directorate| %>
              <p style="margin-left: 20px;">
                <span style="color: grey;">
                  <i class="fa fa-circle" aria-hidden="true"></i>
                </span>
                <span><%= link_to directorate.name, directorate  %></span>
              </p>
            <% end %>
          </div>
        </div>        
        <div class="col-md-4 top-content-footer">
          <span style="color: grey; font-size: 14px;margin-left: 20px; ; color: black;"><i class="fa fa-newspaper-o"></i><%= link_to "Write an ASPAP Article" ,new_article_path %> </span>
        </div>        
        <div class="col-md-5 top-content-footer2">
          <span style="color: grey; font-size: 14px; color:grey; margin-left: 20px"><i class="fa fa-book"></i><%= link_to "Journal (Pure & Applied)" ,journals_path(@journals) %> </span>         
        </div>
      </div>
    </div>
  </div> 
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create a Post</h4>
        </div>

        <%= form_for  @post do |f| %>
          <div class="modal-body">
            <div class="write_post">  
              <% if current_user.image.blank? %>
                <span id="user_avatar"><img src="<%= asset_path( 'user.png', alt: "avatar" ) %>" /></span>
              <% else %>
                <span id="user_avatar"><%= image_tag current_user.image %> </span>
              <% end %>
                 <span id="user_name"><%= current_user.firstname %> </span>
                 <span id="user_name"><%= current_user.surname %> </span>
              
                <span style="width: 100px;">
                  <%= collection_select(:post, :directorate_id, @directorates.all, :id, :name) %>   
                </span>  
              <p id="post-text">
                <%= f.text_area :body, :placeholder =>"What do you want to disscus?", class: "form-control" , :required => true%>
              </p> 
            </div>
          </div>
          <div class="modal-footer">
            <input type="submit" name="commit" value=" Post" data-disable-with="Post">
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% else  %>
  <div class="row top-content">
    <div class="row">
      <div class="col-md-6 col-md-6-openPostBox">
        <div type="button" class="openPostBox" data-toggle="modal" data-target="#myModal">
          <span style="font-size: 24px;color: grey;"><i class="fa fa-edit" aria-hidden="true"> </i> </span>
          <span style="font-size: 18px; color: grey;">Write at post...</span>
        </div>   
      </div>
      <div class="col-md-6 col-md-6-directorate">
        <div id="slideshow">
            <% @events.each do |event| %>
              <div>
                <%= link_to event do %>
                <p id="event_fade" ">
                  <span style="font-size: 16px;color: #32CD32;"><i class="fa fa-tasks"></i> 
                  </span> 
                  <span style="font-size: 14px;color: black;"><%=  event.title %> </span><br>
                  <span><%= event.body %> </span> 
                </p>
                <% end %>
              </div>
            <% end %>
        </div>
      </div>
    </div>
    <div class="row submit-aspap-artical">
      <div class="row">
        <div class="col-md-3">
          <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
          <span style="color: grey;font-size: 14px;"><i class="fa fa-code-fork" aria-hidden="true"></i></span>
          <span style="color: #38678b; font-size: 16px;"> 
              Directorates
          </span>
          </button>
          <div class="dropdown-menu">
            <% @directorates.each do |directorate| %>
              <p style="margin-left: 20px;">
                <span style="color: grey;">
                  <i class="fa fa-circle" aria-hidden="true"></i>
                </span>
                <span><%= link_to directorate.name, directorate  %></span>
              </p>
            <% end %>
          </div>
        </div>        
        <div class="col-md-4 top-content-footer">
          <span style="color: grey; font-size: 14px;margin-left: 20px; ; color: black;"><i class="fa fa-newspaper-o"></i><%= link_to "Write an ASPAP Article" ,new_article_path %> </span>
        </div>        
        <div class="col-md-5 top-content-footer2">
          <span style="color: grey; font-size: 14px; color:grey; margin-left: 20px"><i class="fa fa-book"></i><%= link_to "Journal (Pure & Applied)" ,journals_path(@journals) %> </span>         
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create a post</h4>
        </div>
        <div class="modal-body">
          <div class="write_post">               
            <p id="post-text">
              Sorry! you need to get your account verified to start posting.

              Verify your account  <%= link_to "here",new_editor_path%>       
            </p>            
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
$("#slideshow > div:gt(0)").hide();

setInterval(function() { 
  $('#slideshow > div:first')
    .fadeOut(1000)
    .next()
    .fadeIn(1000)
    .end()
    .appendTo('#slideshow');
},  5000);

</script>