<!-- Trigger the modal with a button -->
<div class="row top-content">

  <div class="row">
    <div class="col-md-4 write_botton_article">
      <span style="font-size: 16px;margin-left: 20px; ; color: white;"><i class="fa fa-newspaper-o"></i><%= link_to "Write an ASPAP Article" ,new_article_path %> 
      </span>
    </div>    
    <div class="col-md-4 write_botton_journal">
      <span style="color: grey; font-size: 16px; color:white; margin-left: 20px"><i class="fa fa-book"></i><%= link_to "Journal (Pure & Applied)" ,journals_path(@journals) %> </span>  
    </div>       
    <div class="col-md-4 write_botton_post">
      <div type="button" class="openPostBox_home" data-toggle="modal" data-target="#myModal">
        <span style="font-size: 18px;color: white;"><i class="fa fa-edit" aria-hidden="true"> </i> </span>
        <span style="font-size: 16px; color: white ;">Start a discussion...</span>
      </div> 
    </div>    
  </div>

  <div class="row submit-aspap-artical">
    <div class="row">
      <div class="col-md-12">
        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
        <span style="color: grey;font-size: 14px;"><i class="fa fa-code-fork" aria-hidden="true"></i></span>
        <span style="color: #38678b; font-size: 16px;"> 
            Research Directorates
        </span>
        </button>
        <div class="dropdown-menu">
          <% @directorates.each do |directorate| %>
            <p style="margin-left: 20px;">
              <span style="color: grey;">
                <i class="fa fa-circle" aria-hidden="true"></i>
              </span>
              <span><%= link_to directorate.name, directorate  %></span>
            </p>
          <% end %>
        </div>
      </div>               
    </div>
  </div>
</div> 
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create a Post</h4>
      </div>

      <%= form_for  @post do |f| %>
        <div class="modal-body">
          <div class="write_post">  
            <% if current_user.image.blank? %>
              <span id="user_avatar"><img src="<%= asset_path( 'user.png', alt: "avatar" ) %>" /></span>
            <% else %>
              <span id="user_avatar"><%= image_tag current_user.image %> </span>
            <% end %>
               <span id="user_name_2"><%= current_user.firstname %> </span>
               <span id="user_name_2"><%= current_user.surname %> </span>
            
              <span style="width: 100px;">
                <%= collection_select(:post, :directorate_id, @directorates.all, :id, :name) %>   
              </span>  
            <p id="post-text">
              <%= f.text_area :body, :placeholder =>"What do you want to discuss?", class: "form-control" , :required => true%>
            </p> 
          </div>
        </div>
        <div class="modal-footer">
          <input type="submit" name="commit" value=" Post" data-disable-with="Post">
        </div>
      <% end %>
    </div>
  </div>
</div>



<script type="text/javascript">
$("#slideshow > div:gt(0)").hide();

setInterval(function() { 
  $('#slideshow > div:first')
    .fadeOut(250)
    .next()
    .fadeIn(250)
    .end()
    .appendTo('#slideshow');
},  5000);

</script>
